BODY	{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
FONT	{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
P		{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
LI		{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
TD		{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
SELECT	{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
OPTION	{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
INPUT	{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
TEXTAREA{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
TABLE	{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}
DIV		{ font-family: Verdana, Geneva, Helvetica, sans-serif; font-size: 10px;}

IMG		{ border:0px; }

A:link		{ color: #0166aa; font: 10px Verdana, Tahoma, sans-serif; text-decoration: underline; font-weight:bold;}
A:active	{ color: #0166aa; font: 10px Verdana, Tahoma, sans-serif; text-decoration: underline; font-weight:bold;}
A:visited	{ color: #0166aa; font: 10px Verdana, Tahoma, sans-serif; text-decoration: underline; font-weight:bold;} 
A:hover		{ color: #e87b42; font: 10px Verdana, Tahoma, sans-serif; text-decoration: underline; font-weight:bold;}


.td1 { border:1px solid #DDDDDD; background-color: #d0dce0;}
.td2 { border:1px solid #DDDDDD; }
.td3 { border:1px solid #DDDDDD; background-color: #fb9f00; text-align:center; color:#ffffff; font-weight:bold;}
.td4 { }
.td5 { border:1px solid #DDDDDD; background-color: #f1f1f1; text-align:center;}
.td6 { border:1px solid #DDDDDD; background-color: #0166dd; text-align:center; color:#ffffff; font-weight:bold;}
.td7 { border:1px solid #DDDDDD; background-color: #f1f1f1; text-align:right;}
.td8 { border:1px solid #DDDDDD; }
.td9 { text-align:center; font-weight:bold;}

.red1 { color:red; }
.blue1 { color:blue; }
